* {
    background: black;
    color: cyan;
    font-family: monospace; 
    font-size: 10pt;
}

button, select, input{
    border: 2px solid cyan;
    cursor: pointer;
}

input {
    cursor: text;
}

#windownews .news{
    color: orangered;
}

#chartfundssize {
    height: 75px;
}

#windowmarket {
    padding-bottom: 40px;
}

.stockprice {
    padding: 10px;
    height: 100px;
    width: 220px;
    display: inline-block;

}

textarea:focus, input:focus{
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}